body{font-family: Roboto;
    
    
.header-window-haus {
    padding-top: 28px;
    max-width: 1200px;
    display: flex;
    padding-bottom: 70px; }
    .header-window-haus .navigation {
      display: flex; }
      .header-window-haus .navigation .navigation_services {
        margin-right: 20px;
        margin-left: 20px; }
      .header-window-haus .navigation .navigation_produkts {
        color: orange;
        margin-right: 14px;
        margin-left: 14px; }
      .header-window-haus .navigation .navigation_company {
        margin-right: 14px;
        margin-left: 14px; }
      .header-window-haus .navigation .navigation_portfolio {
        margin-right: 14px;
        margin-left: 14px; }
      .header-window-haus .navigation .navigation_question-answer {
        margin-right: 14px;
        margin-left: 14px; }
      .header-window-haus .navigation .navigation_kontacs {
        margin-right: 14px;
        margin-left: 14px; }
    .header-window-haus .button {
      display: flex;
      color: white;
      text-align: center; }
    .header-window-haus .button-1 {
      text-align: center;
      width: 170px;
      height: 40px;
      display: flex;
      background-color: orange;
      border-radius: 3px;
      margin-right: 14px;
     }
      .header-window-haus .button-1 .button1-icon {
        width: 20px;
        height: 17px;
        text-align: left; }
    .header-window-haus .button-2 {
      text-align: center;
      width: 170px;
      height: 40px;
      display: flex;
      background-color: blue;
      border-radius: 3px;
      margin-right: 14px; }
      .header-window-haus .button-2 .button2-icon {
        width: 20px;
        height: 17px;
        text-align: left; }
  
  .title-section {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #2F2F51;
    margin-bottom: 30px; }
  
  .services {
    font-family: Roboto;
    font-style: normal; }
    .services .container {
      max-width: 1200px;
    }
      .services .container .services-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; 
    h3{
text-align: center;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;

color: #2F2F51;
    }
p{
    color: #2F2F51    
}}
        .services .container .services-list .card1_item {
          width: 49%;
          background-image: url(backround/Group1.png);
          border-radius: 3px;
          margin-bottom: 25px; }
          .services .container .services-list .card1_item .card1_header {
            display: flex; }
        .services .container .services-list .card2_item {
          width: 49%;
          background-image: url(backround/Group2.png);
          border-radius: 3px;
          margin-bottom: 25px; }
          .services .container .services-list .card2_item .card2_header {
            display: flex; }
        .services .container .services-list .card3_item {
          width: 49%;
          background-image: url(backround/Group3.png);
          border-radius: 3px;
          margin-bottom: 25px; }
          .services .container .services-list .card3_item .card3_header {
            display: flex; }
        .services .container .services-list .card4_item {
          width: 49%;
          background-image: url(backround/Group4.png);
          border-radius: 3px;
          margin-bottom: 25px; }
          .services .container .services-list .card4_item .card4_header {
            display: flex; }

.container{
 max-width: 1200px;   
.title-Produks{
text-align: center;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;

color: #2F2F51;   
}
.navigation-Produks{
    
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    list-style-type: none;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #2F2F51;
margin-top: 42px;
}
.Rehau{
display: flex;
margin-top: 27px;
img{
height: 461px;
width: 567px;    
}
.Rehau-description{
padding-top: 74px;
padding-bottom: 52px;
padding-top: 32px;    
}
h1
{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    
    color: #EF7F04;

}
p{
font-style: normal;
font-weight: 700;
font-size: 18px;
color: #2f2f51;
padding-top: 30px;
padding-bottom: 30px;
}
ul{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #2f2f51;
    margin-top: 12px;
    line-height: 50px;


}
}    
}
}
